:root {
    --background: #121212;
    --menuBar: #181818;
    --topElement: #404040;
    --bottomElement: #282828;
    --primaryText: #ffffff;
    --secondaryText: #b3b3b3;
    --ticTac: #e069a4;
    --toe: #69a4e0;
}

html, body {
    font-family: 'Rubik', sans-serif;
}

body {
    position: relative;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

#title {
    color: var(--primaryText);
    font-size: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#tic {
    color: var(--ticTac);
}

#tac {
    background: -webkit-linear-gradient(0deg, var(--ticTac), var(--toe));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#toe {
    color: var(--toe);
}

.tic-tac-style {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    color: var(--ticTac);
    font-size: 110px;
    font-style: bold;
}

.toe-style {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 21px;
    width: 50%;
    height: 50%;
    color: var(--toe);
    font-size: 120px;
    font-style: bold;
}

.line {
    background: linear-gradient(90deg, var(--ticTac), var(--toe));
    height: 1px;
    margin-right: 10px;
    margin-left: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#gameboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 500px;
    background-color: var(--bottomElement);
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

@media (max-width: 320px) {
    #gameboard {
        width: 300px;
        height: 300px;
    }
    .tic-tac-style {
        max-height: 50%;
        max-width: 50%;
        font-size: 80px;
        padding-top: 5px;
    }
    .toe-style {
        max-height: 50%;
        max-width: 50%;
        font-size: 80px;
        padding-bottom: 10px;
    }
}

#tiles {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(135deg, var(--ticTac), var(--toe));
    margin: 10px;
}

.tile-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 32%;
    min-height: 32%;
    justify-content: center;
    align-items: center;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin: 1px;
    width: 33%;
    height: 99%;
    background-color: var(--topElement);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    font-style: italic;
    color: var(--secondaryText);
    font-size: 12px;
    padding: 5px 10px 5px 20px;
}

#red-heart {
    color: red;
    font-style: normal;
    font-size: 16px;
    line-height: 14px;
    padding: 0px 3px 0px 4px;
}

#coffee {
    font-style: normal;
    padding: 0px 3px 0px 4px;
}

#github-profile {
    font-style: normal;
    padding: 0px 3px 0px 4px;
}